flows/a_convert_spf_json.json
[{"id":"4f11a1a2.62cb88","type":"tab","label":"ifc convert spf-json","disabled":false,"info":""},{"id":"8841eb57.2ade88","type":"spfJson","z":"4f11a1a2.62cb88","name":"","x":380,"y":140,"wires":[["4c3d14be.4bcc2c"]]},{"id":"77495be9.1246b4","type":"inject","z":"4f11a1a2.62cb88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"/Users/nirviksaha/PostDoc/nslibs/data/house.ifc","payloadType":"str","x":190,"y":140,"wires":[["8841eb57.2ade88"]]},{"id":"4c3d14be.4bcc2c","type":"debug","z":"4f11a1a2.62cb88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":140,"wires":[]}]