flows/c_consolidated_json.json
[{"id":"df6aa2d.d04316","type":"tab","label":"get ifcjson & add objs to array","disabled":false,"info":""},{"id":"7ce625fb.8c1b44","type":"change","z":"df6aa2d.d04316","name":"Find OBJs","rules":[{"t":"set","p":"payload","pt":"msg","to":"$.payload.data[\ttype=\"shapeRepresentation\" and\trepresentationType=\"OBJ\"\t]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"OBJs","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":440,"wires":[["bfaa38e6.787d28"]]},{"id":"bfaa38e6.787d28","type":"change","z":"df6aa2d.d04316","name":"{globalId, OBJ}","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload{\t   \"data\": $.{\t       \"globalId\": globalId,\t       \"OBJ\": items[0]\t}\t}\t\t\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":440,"wires":[["d0c1846.8654f78"]]},{"id":"d0c1846.8654f78","type":"function","z":"df6aa2d.d04316","name":"Attach OBJs","func":"var buildingElements = context.get(\"buildingElements\") || 0; //get from context or default to 0\nvar OBJs = context.get(\"OBJs\") || 0; //get from context or default to 0\nvar objdict = {};\n    var objdata = null;\n    var aresult;\n\n\nattachOBS = function() {\n    if (OBJs == 0 || buildingElements == 0) return;\n            //console.log(OBJs.data);   \n    objdict = {};\n        var i;\n    \n        for ( i = 0 ; i < OBJs.data.length; i++ ) {\n            var apair = OBJs.data[i];\n            //console.log(apair);\n         objdict[apair.globalId] = apair.OBJ;\n        }\n     \n    for ( i = 0 ; i < buildingElements.length; i++ ) {\n        if(buildingElements[i].representations) {\n            var aref = buildingElements[i].representations[0].ref;\n            //console.log(aref);\n            \n             aresult = objdict[aref];\n            //console.log(aresult);\n\n         \n            buildingElements[i].OBJ = aresult;\n            //console.log(buildingElements[i].OBJ);\n        }\n    }\n}\n\nswitch (msg.topic){\n    case \"buildingElements\":\n        console.log(\"buildingElements\");\n        buildingElements = msg.payload; //payload NOT paydoad  :)\n        context.set(\"buildingElements\", buildingElements); //store in context for next time \n        attachOBS();\n        break;\n    case \"OBJs\":\n        console.log(\"OBJs\");\n        OBJs = msg.payload; //payload NOT paydoad  :)\n        context.set(\"OBJs\", OBJs); //store in context for next time \n        attachOBS();\n        break;\n}\n\n\n\nmsg.topic = \"go\";\nmsg.payload = buildingElements;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":380,"wires":[["8363333a.5bfae"]]},{"id":"d6deb47c.2e5e9","type":"inject","z":"df6aa2d.d04316","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":380,"wires":[["67309190.68a7c8"]]},{"id":"7d1e7821.163a6","type":"json","z":"df6aa2d.d04316","name":"","property":"payload","action":"","pretty":false,"x":530,"y":380,"wires":[["7ce625fb.8c1b44","fb8e1f0d.c9db78"]]},{"id":"67309190.68a7c8","type":"http request","z":"df6aa2d.d04316","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://raw.githubusercontent.com/ifcnodered/node-red/master/lib/viewerData/ifcJsonData.json","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":380,"wires":[["7d1e7821.163a6"]]},{"id":"8363333a.5bfae","type":"debug","z":"df6aa2d.d04316","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":380,"wires":[]},{"id":"fb8e1f0d.c9db78","type":"change","z":"df6aa2d.d04316","name":"All but shapeReps","rules":[{"t":"set","p":"payload","pt":"msg","to":"$.payload.data[\ttype !=\"shapeRepresentation\"\t]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"buildingElements","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":380,"wires":[["d0c1846.8654f78"]]}]